<!--to display the title to the title section-->
@{
    ViewData["Title"] = "About Japan";
}

<!--to use the css file-->
<link rel="stylesheet" href="~/css/site.css">

<!--text-left-bootstrap-->
<div class="text-left">

    <!--to display the title-->
    <h1>@ViewData["Title"]</h1>
    <p>
        Population: 126, 048, 450<br>
        Official Language: Japanese<br>
        Official Name: Japan<br>
        Form of Government: Constitutional monarchy with parliamentary government<br>
        Capital: Tokyo<br>
        Money: Japanese yen<br>
        Area: 377,835 square kilometres<br>
        Major Mountain Ranges: Japanese Alps<br>
        Major Rivers: Biwa, Inawashiro, Kasumigaura
    </p>
</div>