<!--to display the title to the title section-->
@{
    ViewData["Title"] = "FAQ";
}

<!--to use the css file-->
<link rel="stylesheet" href="~/css/site.css">

<!--text-left-bootstrap-->
<div class="text-left">

    <!--to display the title-->
    <h1>@ViewData["Title"]</h1>
    <h4>Q: What is Japanese Online Sourvenir Shop?</h4>
    <p>Japanese Online Sourvenir Shop is a website that provides many kinds of Japanese items to people all over the world.</p>
    <h4>Q: What can I do with the website?</h4>
    <p>You can purchase the Japanese items with the website anywhere and anytime.</p>
    <h4>Q: How can I get started with the website?</h4>
    <p>Plese sign up to use and purchase the website. To sign up, you need to resister your information.</p>
    <h4>Q: How long does it take to be delivered?</h4>
    <p>Basically if you live in Toronto, it takes a week.</p>
    <h4>Q: How much is the shipping fee?</h4>
    <p>It is Free!!</p>
    <h4>Q: Is it possible to return?</h4>
    <p>Sure. Please feel free to return.</p>
</div>
