<!--to display the title to the title section-->
@{
    ViewData["Title"] = "Home Page";
}

<!--text-center-bootstrap-->
<div class="text-center">
    <h1 class="display-4">Welcome ようこそ</h1>
    <h2>Please Enjoy the Shoppping</h2>
    <h4>There are tons of Japanese items!!</h4>
    <h4>Discover new Japan</h4>
</div>
