@model Assignment3.Models.Request

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Request</h1>

<h4>Please Tell Us Your Special</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CartId" class="control-label"></label>  <!--to dispaly the valu-->
                <select asp-for="CartId" class="form-control" asp-items="ViewBag.CartId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"><span style="font-weight: bold">"Color"</span> Only For The T-Shirt</label>
                <input asp-for="Color" class="form-control" type="text" list="color" />
                <datalist id="color">
                    <option value="Red"></option>     <!--there are some color options-->
                    <option value="Black"></option>
                    <option value="White"></option>
                    <option value="Blue"></option>
                </datalist>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gift" class="control-label">GIFT OR NOT</label>
                <p><label for="aboutGift1">YES</label></p>                       <!--using radio button-->
                <input asp-for="Gift" class="form-control" type="radio" id="aboutGift1" value="YES" name="gift" />
                <label for="aboutGift2">NO</label>
                <input asp-for="Gift" class="form-control" type="radio" id="aboutGift2" value="NO" name="gift" />
                <span asp-validation-for="Gift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnyOtherRequests" class="control-label"></label>
                <input asp-for="AnyOtherRequests" class="form-control" />
                <span asp-validation-for="AnyOtherRequests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}