/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/*to use the image to all pages*/
body {
    background-image: url("/images/picBlossom.jpg");
    background-size: cover;
}

/*to make those image arranged*/
.item {
    display: inline-block;
}

.item a {
    color: White;
    border-radius: 10%;
    background-color: blue;
}

/*for detail page*/
.detail ,.cart{
    margin-top: 10px;
    font-weight: bold;
}

.name {
    margin-left: 33px;
    border: 2px double;
    background-color: white;
    border-radius: 8px;
    padding:5px;
    font-weight:normal;
    font-style:italic;
    font-family:'MS Mincho';
}

.data {
    margin-left: 50px;
    border: 2px double;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    font-weight: normal;
    font-style: italic;
    font-family: 'MS Mincho';
}

.price {
    margin-left: 100px;
    border: 2px double;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    font-weight: normal;
    font-style: italic;
    font-family: 'MS Mincho';
}

.detail a ,.cart
{
    padding: 0 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: .3s;
    color:black;
}

.detail a:hover ,.cart:hover{
    background-position: -100% 0;
    color: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
